@charset "utf-8";
/* 공통 */
/* 포인트 오렌지 #f8551e */
.wrap_sustain{text-align:left}
.wrap_sustain .menu_tab{position:relative;height:65px;margin-top:70px;font-size:0;text-align:center;box-sizing:border-box}
.wrap_sustain .menu_tab ul{display:table;min-width:1220px;max-width:1220px;margin:0 auto;border-bottom:1px solid #ddd;background-color:#f3f3f3}
.wrap_sustain .menu_tab li{display:table-cell;vertical-align:top}
.wrap_sustain .menu_tab li a{display:block;position:relative;width:100%;padding:23px 7px 24px;font-size:18px;color:#2b2b2b;box-sizing:border-box}
.wrap_sustain .menu_tab li a .arr{display:none;position:absolute;left:50%;bottom:-10px;width:0px;height:0px;margin-left:-10px;border-left:10px solid transparent;border-right:10px solid transparent;border-top:10px solid #f8551e}
.wrap_sustain .menu_tab .on{box-shadow:0px 6px 15px 0px rgba(0,0,0,0.2)}
.wrap_sustain .menu_tab .on a{color:#fff;background-color:#f8551e}
.wrap_sustain .menu_tab .on a .arr{display:block}
.wrap_sustain .menu_tab li + li a:after{content:'';position:absolute;top:25px;left:0;width:1px;height:20px;background-color:#ccc}
.wrap_sustain .menu_tab li.on + li a:after, .wrap_sustain .menu_tab li.on a:after{display:none}

.wrap_sustain .article_area{width:auto}
.wrap_sustain .tit_type05{margin:75px auto 0;font-size:46px}
.wrap_sustain .title + .cont_area > .box_inner .article_area:first-child,
.wrap_sustain .menu_tab + .cont_area > .box_inner .article_area:first-child{margin-top:80px}
.wrap_sustain .title + .cont_area .tit_cont,
.wrap_sustain .menu_tab + .cont_area .tit_cont{margin-top:30px}
.wrap_sustain .mt_60{margin-top:60px}
.wrap_sustain .f_bold{font-weight:600}
.wrap_sustain .bg_type1{background-color:#f7f7f7}
.wrap_sustain .bg_type2{background-color:#f0f0f0}
.wrap_sustain .bg_type3{background-color:#fffdf6}
.wrap_sustain .bg_type4{background-color:#f9f9f9}
.wrap_sustain .bg_type5{background-color:#f3f3f3}
.wrap_sustain .more_link{display:block;margin-top:15px}
.wrap_sustain .more_link .link_more{display:inline-block;position:relative;font-style:italic;font-size:16px;line-height:22px;color:#000}
.wrap_sustain .num_digit{display:inline-block;overflow:hidden;width:50px;height:50px;font-weight:600;font-size:18px;line-height:48px;color:#666565;border:2px solid #dfe9f4;border-radius:50%;background-color:#fff;vertical-align:top;text-align:center;box-sizing:border-box}
.wrap_sustain .ani_slidetype .cover_img{overflow:hidden;width:0;-webkit-transition:1s;transition:1s;opacity:0}
.wrap_sustain .ani_slidetype.animate .cover_img{width:100%;-webkit-transition:1s;transition:1s;opacity:1}
.wrap_sustain .ani_zoomtype .cover_img{-webkit-transform:scale(0.8, 0.8);transform:scale(0.8, 0.8);-webkit-transition:1s;transition:1s;opacity:0}
.wrap_sustain .ani_zoomtype.animate .cover_img{-webkit-transform:scale(1);transform:scale(1);-webkit-transition:1s;transition:1s;opacity:1}
.wrap_sustain .ani_movetype1 .cover_img{position:relative;left:-50px;bottom:-30px;-webkit-transition:1.5s;transition:1.5s;opacity:0}
.wrap_sustain .ani_movetype1.animate .cover_img{left:0;bottom:0;-webkit-transition:1.5s;transition:1.5s;opacity:1}
.wrap_sustain .ani_movetype2 .cover_img{position:relative;left:-50px;-webkit-transition:1.5s;transition:1.5s;opacity:0}
.wrap_sustain .ani_movetype2.animate .cover_img{left:0;-webkit-transition:1.5s;transition:1.5s;opacity:1}

.wrap_sustain .cont_area{overflow:hidden}
.wrap_sustain .cont_area > .box_inner{width:1220px;padding:0;margin:0 auto}
.wrap_sustain .cont_area .tit_cont{display:block;padding-top:55px;font-size:25px;color:#f8551e}
.wrap_sustain .cont_area .tit_cont.type2{font-size:28px}
.wrap_sustain .cont_area .tit_cont.type2 img{vertical-align:bottom}
.wrap_sustain .cont_area .article_area.top_article{margin-top:0;padding-top:55px}
.wrap_sustain .cont_area .indent_list{margin-top:15px}
.wrap_sustain .cont_area .indent_list .article_area{position:relative;margin-top:0;padding-left:45px}
.wrap_sustain .cont_area .indent_list .article_area:before{content:'';position:absolute;top:9px;left:30px;width:4px;height:4px;border-radius:50%;background-color:#767676}
.wrap_sustain .cont_area .indent_list.indent_type2 li{margin-top:15px}

/* 본문1 (Our Commitment ) */
.list_comit{display:table;position:relative;padding:69px 0 0;margin-bottom:60px}
.list_comit li{display:table-cell;width:390px;padding:0 0 30px;vertical-align:top}
.list_comit .frame{display:block;overflow:hidden;position:relative;z-index:1;width:370px;margin:0 auto;border-radius:20px;text-align:center}
.list_comit .frame img{-webkit-transition:-webkit-transform .25s ease-out;transition:transform .25s ease-out}
.list_comit .frame:hover img{-webkit-transform:scale(1.2);transform:scale(1.2)}
.list_comit li + li{padding-left:25px}
.list_comit .bg_plate{position:absolute;top:190px;bottom:0;width:390px;background-color:#f0f0f0;border-radius:20px}
.list_comit .box{position:relative;z-index:1;margin-top:40px;padding:0 28px 0 38px}
.list_comit .box dt{display:block;font-weight:600;font-size:24px;color:#f8551e}
.list_comit .box dd{padding-top:8px;font-size:18px;line-height:22px;color:#767676}
.area_sustgoal{min-height:1010px;background:#f0f0f0 url(../../../../../content/dam/hanwha/sustainability/bg_goal.png) no-repeat 50% 100%}
.group_goal{position:relative;min-height:947px;margin-top:50px}
.group_goal .tit_goal{display:block;padding:30px 0 0 47px;opacity:0}
html[lang="zh"] .group_goal .tit_goal{width:569px}
html[lang="zh"] .group_goal .tit_goal img{display:block;width:100%}
.group_goal .list_goal > li{overflow:hidden;position:absolute;height:216px;font-size:16px;line-height:22px;color:#282828;background-color:#e7e7e7;opacity:0}
.group_goal.animate .tit_goal{-webkit-animation-name:animove_1;animation-name:animove_1;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.group_goal.animate .list_goal > li{-webkit-animation-name:animove_2;animation-name:animove_2;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.group_goal .goal_1{-webkit-animation-delay:0.5s;animation-delay:0.5s}
.group_goal .goal_2{-webkit-animation-delay:1.0s;animation-delay:1.0s}
.group_goal .goal_3{-webkit-animation-delay:1.5s;animation-delay:1.5s}
.group_goal .goal_4{-webkit-animation-delay:2.0s;animation-delay:2.0s}
.group_goal .goal_5{-webkit-animation-delay:2.5s;animation-delay:2.5s}
.group_goal .goal_6{-webkit-animation-delay:3.0s;animation-delay:3.0s}
.group_goal .goal_7{-webkit-animation-delay:3.5s;animation-delay:3.5s}
@-webkit-keyframes animove_1 {
	0%   {opacity:0;margin-left:-30px}
	100% {opacity:1;margin-left:0}
}
@keyframes animove_1 {
	0%   {opacity:0;margin-left:-30px}
	100% {opacity:1;margin-left:0}
}
@-webkit-keyframes animove_2 {
	0%   {opacity:0;margin-top:30px}
	100% {opacity:1;margin-top:0}
}
@keyframes animove_2 {
	0%   {opacity:0;margin-top:30px}
	100% {opacity:1;margin-top:0}
}
.group_goal .list_goal > li a{color:#282828}
.group_goal .list_goal > li:nth-child(odd){right:0;width:565px}
.group_goal .list_goal > li:nth-child(even){left:0;width:575px}
.group_goal .list_goal > li:nth-child(even) .tit{float:right}
.group_goal .list_goal li.goal_1{top:0;width:565px}
.group_goal .list_goal li.goal_2{top:168px;left:40px;height:210px}
.group_goal .list_goal li.goal_3{top:223px;right:31px}
.group_goal .list_goal li.goal_4{top:388px;width:550px}
.group_goal .list_goal li.goal_5{top:447px;right:92px}
.group_goal .list_goal li.goal_6{top:611px;width:550px}
.group_goal .list_goal li.goal_7{top:671px;right:92px}
.group_goal .b_top_l{border-top-left-radius:80px}
.group_goal .b_top_r{border-top-right-radius:80px}
.group_goal .b_btm_l{border-bottom-left-radius:80px}
.group_goal .b_btm_r{border-bottom-right-radius:80px}
.group_goal .list_goal .tit{float:left}
.group_goal .list_goal .fact{display:table;width:61%;height:100%}
.group_goal .list_goal .fact ul{display:table-cell;vertical-align:middle}
.group_goal .list_goal .fact ul li{position:relative;margin:0 25px;padding:5px 5px 5px 25px;border-top:1px dashed #c8c8c8}
.group_goal .list_goal .fact ul li:first-child{border:0 none}
.group_goal .list_goal .fact ul li:after{content:'';position:absolute;top:9px;left:0;width:15px;height:15px;background:url(../../../../../content/dam/hanwha/sustainability/ico_bullet1.png) no-repeat 0 0}
.box_corp{overflow:hidden;margin-top:55px}
.box_corp .head_box{float:left;position:relative;width:550px}
.box_corp .head_box .tit{position:absolute;z-index:1;top:0;left:0;width:220px;padding:40px 0;font-size:28px;line-height:33px;color:#fff;background-color:#f8551e;text-align:center}
html[lang="zh"] .box_corp .head_box .tit{padding:60px 0}
.box_corp .head_box .tit > span{display:inline-block;vertical-align:top;text-align:center}/* 2022-02-26 수정 */
.box_corp .head_box .ani_point img{display:block;margin:50px 0 0 30px}
.box_corp .desc_box{overflow:hidden;padding:67px 0 0 30px}
.box_corp .desc_box .article_area{margin-top:25px}
/* 2022-02-26 추가 시작 */
.box_corp2 .head_box{width:220px}
.box_corp2 .head_box .tit{display:block}
.box_corp2 .desc_box{overflow:hidden;padding:0 30px 30px 220px;margin:40px 0 0 40px;background:#f0f0f0}
/* //2022-02-26 추가 끝 */
.list_corp{display:table;position:relative;width:100%;margin:30px 0 10px}
.list_corp li{display:table-cell;overflow:hidden;width:50%;font-size:18px;color:#767676;vertical-align:top}
.list_corp li:nth-child(odd){padding-right:20px}
.list_corp li:nth-child(even){padding-left:20px}
.list_corp li .bg_plate{position:absolute;top:0;bottom:0;width:590px;background-color:#f0f0f0}
.list_corp li:nth-child(odd) .bg_plate{left:0}
.list_corp li:nth-child(even) .bg_plate{right:0}
.list_corp li:nth-child(2) img{margin:-9px 0 0 39px}
.list_corp .head_box{float:left;position:relative;z-index:1;width:210px;padding:30px 40px 37px;box-sizing:border-box}
.list_corp .head_box .tit{display:block;margin-bottom:26px;font-weight:600;font-size:22px;color:#000}
.list_corp .desc_box{overflow:hidden;position:relative;z-index:1;padding:36px 30px 30px 0}
.list_corp .article_area{margin-top:0;line-height:22px}
.list_fold{padding:35px 0 0} /* 2022-02-26 수정 */
.list_fold .num{padding-right:8px;font-size:22px;color:#ee6212}
.list_fold .fold_q{display:block;overflow:hidden;position:relative;margin-bottom:15px;padding:19px 40px 20px 20px;font-weight:600;font-size:18px;color:#000;background-color:#fff;border-radius:3px;box-shadow:4px 3px 10px rgba(0,0,0,.1)}
.list_fold .fold_q:after{content:'';position:absolute;top:27px;right:35px;border-left:6px solid transparent;border-right:6px solid transparent;border-top:8px solid #f8551e;-webkit-transition:all 0.4s ease;transition:all 0.4s ease}
.list_fold .on .fold_q:after{-webkit-transform:rotateZ(180deg);transform:rotateZ(180deg)}
.list_fold .fold_a{overflow:hidden;height:0;font-size:18px;line-height:1.4;color:#767676;-webkit-transition:height 0.2s linear;transition:height 0.2s linear}
.list_fold .fold_a .inner{padding:15px 53px 40px;opacity:0;-webkit-transition:0.5s;transition:0.5s}
.list_fold .on .fold_a .inner{opacity:1;-webkit-transition:0.5s;transition:0.5s}

/* 본문2 (Innovative Solutions ) */
.box_sustain5{display:table;position:relative;width:100%;margin:40px 0 70px}
.box_sustain5 > li{display:table-cell;width:50%;padding:0 25px;vertical-align:top}
.box_sustain5 > li > .inner{position:relative;z-index:1;padding-bottom:40px;border:2px solid transparent;box-sizing:border-box}
.box_sustain5 > li .bg_plate{position:absolute;top:0;width:560px;height:100%;bottom:0;border:2px solid #dfe9f4;background-color:#fff;box-sizing:border-box}
.box_sustain5 .cover_img{display:block;height:258px}
.box_sustain5 .tit{display:table;overflow:hidden;max-width:100%;margin:40px 30px 35px;font-size:28px;color:#f8551e}
.box_sustain5 .num_digit{float:left}
.box_sustain5 .num_digit + span{display:table-cell;padding-left:20px;vertical-align:middle}
.box_sustain5 .article_area{padding-left:30px;padding-right:30px}

.box_sustain6{padding-bottom:70px}
.box_sustain6 li{display:table;width:100%;padding-top:40px}
.box_sustain6 .frame{display:table-cell;vertical-align:middle}
.box_sustain6 .frame img{display:block}
.box_sustain6 .cont{display:table-cell;padding:25px 50px 25px 55px;border:2px solid #e5e5e5;background-color:#fff;vertical-align:middle}
.box_sustain6 .article_area{line-height:24px;clear:both}
.box_sustain6 .tit + .article_area{margin-top:30px}
.box_sustain6 .tit{display:table;position:relative;max-width:100%;padding-left:70px;font-size:25px;color:#f8551e;box-sizing:border-box}
.box_sustain6 .num_digit{position:absolute;top:50%;margin-top:-25px;left:0}
.box_sustain6 .num_digit + span{display:table-cell;vertical-align:middle}

.box_sustain7{padding-bottom:70px}
.box_sustain7 li{overflow:hidden;padding-top:40px}
.box_sustain7 li:first-child{padding-top:30px}
.box_sustain7 .frame{float:left;margin-right:60px;margin-bottom:40px}
.box_sustain7 .frame img{display:block}
.box_sustain7 .cont{margin-left:60px}
.box_sustain7 .article_area{line-height:24px}
.box_sustain7 .cont + .article_area{margin-left:60px;clear:both}
.box_sustain7 .cont + .article_area + .more_link{margin-left:60px}
.box_sustain7 .tit + .article_area{margin-top:30px}
.box_sustain7 .tit{display:table;position:relative;max-width:100%;min-height:50px;padding-left:70px;font-size:25px;color:#f8551e;box-sizing:border-box}
.box_sustain7 .num_digit{position:absolute;top:50%;margin-top:-25px;left:0}
.box_sustain7 .num_digit + span{display:table-cell;vertical-align:middle}
.box_sustain7 .num_digit + span img{vertical-align:middle}

/* 본문3 (Sustainable Operations ) */
.box_sustain1{display:table;position:relative;width:100%;margin:75px 0 60px}
.box_sustain1 li{display:table-cell;width:50%;vertical-align:top}
.box_sustain1 li:nth-child(odd){padding-right:20px}
.box_sustain1 li:nth-child(even){padding-left:20px}
.box_sustain1 li .bg_plate{position:absolute;top:0;bottom:0;width:590px;height:100%;border:2px solid #dfe9f4;background-color:#fff}
.box_sustain1 li:nth-child(odd) .bg_plate{left:0}
.box_sustain1 li:nth-child(even) .bg_plate{right:0}
.box_sustain1 li > .inner{position:relative;z-index:1;padding:60px 50px}
.box_sustain1 .tit{display:block;margin-bottom:45px;font-size:28px;color:#f8551e}
.box_sustain1 .num_digit{position:absolute;top:-25px;left:50%;margin-left:-25px}
.box_sustain1 .ico_frame{display:block;min-height:130px}
.box_sustain1 .ico_frame img{display:block;margin:0 auto}

.box_energytree{min-height:1534px;padding:60px 0 100px;box-sizing:border-box}
.box_energytree img{display:block;margin:0 auto;transition:1s}
.box_energytree .cover_img{overflow:hidden;height:0;margin-top:50px;-webkit-transition:2s;transition:2s;opacity:0}
.box_energytree.animate .cover_img{height:1374px;margin-top:0;opacity:1}

/* 본문4 ( Climate Action ) */
.box_sustain2{padding-bottom:120px}
.box_sustain2 li{display:table;width:100%;margin-top:60px;background-color:#fff}
.box_sustain2 .frame{display:table-cell;width:610px;background-color:#fff;vertical-align:top}
.box_sustain2 .frame img{display:block}
.box_sustain2 .cont{display:table-cell;padding:25px 50px 25px 100px;background-color:#fff;vertical-align:middle}
.box_sustain2 .article_area{line-height:24px;clear:both}
.box_sustain2 .tit{display:block;font-size:28px;color:#f8551e}
.box_sustain2 .tit img{display:inline-block;margin:2px 1px 0 0;vertical-align:top}
.box_sustain2 .num_digit{float:left;margin:-11px 0 0 -70px}

/* 본문5 ( Social Contribution ) */
.box_sustain3{display:table;position:relative;width:100%;margin-top:50px}
.box_sustain3 + .box_sustain3{margin-top:40px}
.box_sustain3:last-child{margin-bottom:60px}
.box_sustain3 li{display:table-cell;width:50%;vertical-align:top}
.box_sustain3 li:nth-child(odd){padding-right:16px}
.box_sustain3 li:nth-child(even){padding-left:16px}
.box_sustain3 li:after{content:'';position:absolute;z-index:1;top:9px;bottom:0;width:585px;height:100%;border:2px solid #dfe9f4;box-sizing:border-box}
.box_sustain3 li:before{content:'';position:absolute;z-index:1;top:0;bottom:9px;width:585px;height:100%;border:2px solid #dfe9f4;box-sizing:border-box}
.box_sustain3 li:nth-child(odd):after{left:0}
.box_sustain3 li:nth-child(odd):before{left:9px}
.box_sustain3 li:nth-child(even):after{right:9px}
.box_sustain3 li:nth-child(even):before{right:0}
.box_sustain3 li .bg_plate{position:absolute;top:0;bottom:9px;width:572px;height:100%;background-color:#fff}
.box_sustain3 li .bg_plate:after{content:'';position:absolute;top:0;left:0;width:100%;height:9px;background-color:#f0f0f0}
.box_sustain3 li:nth-child(odd) .bg_plate{left:11px}
.box_sustain3 li:nth-child(even) .bg_plate{right:11px}
.box_sustain3 li > .inner{position:relative;z-index:2;margin-top:9px;padding:40px 50px 50px}
.box_sustain3 .tit{display:block;min-height:56px;margin-bottom:45px;font-size:28px;color:#f8551e}
.box_sustain3 .ico_frame{display:block;min-height:130px}
.box_sustain3 .ico_frame img{display:block;margin:0 auto}

.box_sustain4{padding-bottom:60px}
.box_sustain4 li{display:table;position:relative;width:100%;margin-top:38px}
.box_sustain4 .frame{display:table-cell;width:540px;vertical-align:top}
.box_sustain4 .frame img{display:block}
.box_sustain4 .cont{display:table-cell;height:100%;padding:25px 50px 25px 100px;vertical-align:middle}
.box_sustain4 .cont > *{position:relative;z-index:1}
.box_sustain4 li .bg_plate{position:absolute;top:0;right:0;bottom:0;width:630px;height:100%;background-color:#fff;border:2px solid #e5e5e5;box-sizing:border-box}
.box_sustain4 .article_area{line-height:24px;clear:both}
.box_sustain4 .article_area:first-child{margin-top:0}
.box_sustain4 .tit{display:block;margin-bottom:20px;font-size:25px;line-height:32px;color:#f8551e}

/* 본문6 ( Partners & Communities ) */
.box_sustain8{padding:15px 0 60px}
.box_sustain8 li{display:table;width:100%;padding-top:40px}
.box_sustain8 .tit{display:block;margin-bottom:38px;font-size:25px;color:#f8551e}
.box_sustain8 .frame{float:left;padding:9px 8px;border:2px solid #e5e5e5;background-color:#fff;box-sizing:border-box}
.box_sustain8 .frame img{display:block}
.box_sustain8 .cont{overflow:hidden;padding:0 40px}
.box_sustain8 .article_area{line-height:24px;clear:both}
.box_sustain8 .cont .article_area:first-child{margin-top:0}